Django>=5.0,<6.0
asgiref
sqlparse
tzdata
packaging
typing_extensions


gunicorn
whitenoise


python-dotenv
Pillow


sib-api-v3-sdk

google-generativeai

dj-database-url
psycopg2-binary


